<mat-form-field>
  <mat-label>{{ "home.base_date" | translate }}</mat-label>
  <input matInput [matDatepicker]="picker" (dateChange)="onBaseDateChange($event)">
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
@if (appStore.baseDate()) {
  <div class="operations-container">
    <div class="operation-row">
      <mat-form-field>
        <mat-label> {{ "home.operation" | translate }} </mat-label>
        <mat-select [value]="appStore.currentOperation()" (valueChange)="setCurrentOperation($event)">
          @for (operation of DATE_OPERATIONS_OPTIONS; track operation.value) {
            <mat-option [value]="operation.value">{{ operation.label | translate }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      @let _operation = appStore.currentOperation();
      @if (_operation !== null) {
        @switch (_operation) {
          @case (DateOperations.Elapsed) {
            @defer (on viewport) {
              <app-elapsed-operation></app-elapsed-operation>
            } @placeholder {
              <mat-form-field>
                <mat-label>{{ "common.loading" | translate }}</mat-label>
                <input matInput readonly>
              </mat-form-field>
            }
          }
        }
      }
    </div>
  </div>
}